{% extends "layout3.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='products.css') }}">

<section class="latest">
    <h1 class="latest-title">{{x}}</h1>
    <div class="latest-flex">
        {% if products == [] %}
        <center>
            <h3>No Items available</h3>
        </center>
        {% else %}
            {% for j in range(1, lenproducts+1) %}
                <div id={{j}} style="display:none;">
                    {% for i in products[j-1] %}
                    <a href="/{{i.get('_id')}}">
                        <div class="latest-block">
                            <div class="latest-content">
                                <img src="{{ i.get('image') }}" alt="" class="latest-img">
                                <div class="latest-name">{{ i.get('category') }} {{ i.get('name') }}</div>
                                <div class="latest-price">
                                    {% if i.get('srp') == i.get('mrp') %}
                                        <span class="gold-price">INR {{i.get('srp')}}</span>
                                    {% else %}
                                        <span class="gold-price">INR {{i.get('srp')}}</span>
                                        &nbsp;&nbsp;&nbsp; <!-- adds space -->
                                        <span style="text-decoration: line-through;">INR {{i.get('mrp')}}</span>
                                    {% endif %}
                                </div>
                                <div class="latest-buy"><a href="/add/1{{i.get('_id')}}">Add to cart</a></div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>


<center>
    <a href="#al"><button onclick="prev()" id="p" style="visibility:hidden">Prev</button></a>

    {% for i in range(1, lenproducts+1) %}
    <a href="#al" id="range"><button onclick="show({{ i }})">{{ i }}</button></a>
    {% endfor %}

    <a href="#al"><button onclick="next()" id="n" style="visibility:hidden">Next</button></a>
</center>


<script>
    document.getElementById("1").style.display = 'block';
    var l = {{ lenproducts }};

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

    if (l != 0) {
        console.log(l);
        document.getElementById("n").style.visibility = 'visible';
    }

    function show(x) {
        for (let i = 1; i < l + 1; i++) {
            if (i == x) {
                document.getElementById(i).style.display = "block";
            } else {
                document.getElementById(i).style.display = "none";
            }
        }
        pcheck()
        ncheck()
    }

    function next() {
        if (document.getElementById(l).style.display == "none") {
            for (let i = 1; i < l + 1; i++) {
                const a = document.getElementById(i)
                if (a.style.display == "block") {
                    show(i + 1);
                    pcheck();
                    ncheck();
                    break;
                }
            }
        }
    }

    function prev() {
        if (document.getElementById(1).style.display == "none") {
            for (let i = 1; i < l + 1; i++) {
                const a = document.getElementById(i)
                if (a.style.display == "block") {
                    show(i - 1);
                    pcheck();
                    ncheck()
                    break;
                }
            }
        }
    }

    function pcheck() {
        if (document.getElementById(1).style.display == "block") {
            const element = document.getElementById('p')
            document.getElementById("p").style.visibility = 'hidden';
        } else {
            document.getElementById("p").style.visibility = 'visible';
        }
    }

    function ncheck() {
        if (document.getElementById(l).style.display == "block") {
            const element = document.getElementById('p')
            document.getElementById("n").style.visibility = 'hidden';
        } else {
            document.getElementById("n").style.visibility = 'visible';
        }
    }

    if (l <= 1) {
        document.getElementById("n").style.visibility = 'hidden';
    }

    if (l > 5) {
        document.getElementById("range").style.visibility = 'hidden';
    }

    if (l <= 1) {
        document.getElementById("range").style.visibility = 'hidden';
    }
</script>

{% endblock content %}